$font-default: 'Open Sans';

// 1.0 - COLORS
$pure-white: #fff;
$white-color: #F4F4F4;
$dark-default-color:#033F7B;
$default-color: #218EC6;
$medium-default-color:#60B2DD;
$light-default-color:#8AC1E7;
$baby-blue:#0062a0;
$dark-silver-color:#888585;
$light-black-color: #4A4747;
$silver-color: #9FA1A2;
$medium-silver-color: #B1B2B4;
$light-silver-color:#f2f2f2;
$success-color: #9AC75C;
$light-success-color: #E6EED5;
$warning-dark-color:#DD7C60;
$dark-success-color:#659C56;
$warning-dark-orange:#D38155;
$aqua-color: #00ACAC;
$warning-color:#E59E00;
$danger-color:#DB6969;
$danger-dark-color:#AC0000;
$default-background:#f8f8f8;
$light-gray-color: #7D7E7E;
$pink: #F0D9D2;
$yellow: #F6EEC3;

// 2.0 BORDERS
$border-silver-color:#DEDEDE;
$border-table: #E8E8E8;
