* {
  margin:0px;
  padding:0px;
}

body {
  background: $white-color;
  font-family: $font-default;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

// Buttons
.btn {
  padding: 0.5em;
  border: 0px;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
}

.btn-primary {
  background: $default-color;
  color: $white-color;
  font-weight: 500;

  &:hover {
    background: $dark-default-color;
  }
}
